<figure class="card">
  <img
    src="./assets/images/interiorConsultantThumbnail.png"
    alt="Person"
    class="rounded-2xl"
  />

  <figcaption class="card__figcaption">
    <div class="card__title">
      <div>
        <h1 class="text-sm font-medium text-gray-2">
          #HTML #CSS #responsive
        </h1>
        <p class="text-2xl text-gray-1 font-medium mt-4 bg-g">My Gallery</p>
      </div>
    </div>

    <blockquote class="mt-3 font-medium text-gray-3">
      In this project, I work with HTML and CSS to create a responsive page .
      The design is from devchallenge.io. Donec aliquam est dui, vel vestibulum
      diam sollicitudin id. Quisque feugiat malesuada molestie.
    </blockquote>

    <div class="mt-8">
      <a
        class="btn btn-primary"
        href="https://tcar10s.github.io/Interior-consultant/"
        target="_blank"
        >Demo</a
      >
      <a
        class="btn btn-secondary ml-3"
        href="https://github.com/TCar10s/Interior-consultant"
        target="_blank"
        >Code</a
      >
    </div>
  </figcaption>
</figure>
