<figure class="card">
  <img [src]="project.image" loading="lazy" alt="Person" class="rounded-xl" />

  <figcaption>
    <div class="mt-4">
      <div>
        <h1 class="text-sm font-medium text-gray-2">{{ project.technologies }}</h1>
        <p class="text-2xl text-gray-1 font-medium mt-4 bg-g">
          {{ project.name }}
        </p>
      </div>
    </div>

    <blockquote class="mt-3 font-medium text-gray-3">
      {{ project.description }}
    </blockquote>

    <div class="mt-8">
      <a
        class="btn btn-primary"
        [href]="project.demo"
        target="_blank"
        >Demo</a
      >
      <a
        *ngIf="project.showCode"
        class="btn btn-secondary ml-3"
        [href]="project.code"
        target="_blank"
        >Code</a
      >
    </div>
  </figcaption>
</figure>

