<div class="max-w-7xl mx-auto grid-content p-6">
  <div>
    <app-toggle></app-toggle>
  </div>
  <div class="personal-details dark-mode">
    <app-personal-details [developer]="developer"></app-personal-details>
  </div>
  <div class="project">
    <app-project></app-project>
  </div>
  <div class="skills">
    <app-skills [skills]="skills"></app-skills>
  </div>
  <div class="blog>">
    <app-blog></app-blog>
  </div>
  <div class="experiences">
    <app-experiences [experiences]="experiences"></app-experiences>
  </div>
  <div class="hobbies">
    <app-hobbies [hobbies]="hobbies"></app-hobbies>
  </div>
  <div class="filter-projects">
    <app-filter-projects></app-filter-projects>
  </div>
</div>
