<article class="card">
  <picture class="card__picture">
    <img
      src="./assets/img/carlos_lobo.jpg"
      alt="Person"
      class="rounded-2xl"
    />
  </picture>

  <header class="card__header">
    <div class="card__title">
      <div>
        <h1 class="font-semibold text-xl text-gray-600">Carlos Lobo</h1>
        <p class="text-gray-400 font-medium">Front-end developer</p>
      </div>

      <div class="text-gray-700 font-medium mt-4">
        <p class="flex items-center gap-3">
          <span class="material-icons">mail</span>
          cslobosilva@gmail.com
        </p>
        <p class="flex items-center gap-3">
          <span class="material-icons">phone</span>
          (+57) 3143814357
        </p>
      </div>
    </div>

    <p class="mt-6 font-medium text-gray-400">
      I am a Front-end developer with a background in Graphic Design. I have a
      passion for creating beautiful and functional websites.
    </p>
  </header>
</article>
