<section class="card">
  <h1 class="text-2xl font-medium text-gray-2">Hobbies</h1>

  <div class="md:flex-column md:gap-10">
    <div *ngFor="let item of hobbies" class="mt-5 md:w-full">
      <img
        [src]="item.image"
        alt="hobbie"
        loading="lazy"
        class="rounded-2xl bg-cover
               md:object-cover md:max-h-[176px] md:w-full" />
      <h2 class="font-semibold mt-5 text-gray-1">{{ item.name }}</h2>
      <p class="text-gray-3 mt-2">{{ item.description }}</p>
    </div>
  </div>
</section>
