<section class="card">
  <h1 class="text-2xl mb-5 text-gray-1">Projects</h1>
  <div class="flex flex-wrap gap-3">
    <button
      class="btn btn-secondary active:bg-primary active:text-white btn-secondary-dark"
    >
      Angular
    </button>
    <button
      class="btn btn-secondary active:bg-primary active:text-white btn-secondary-dark"
    >
      Responsive
    </button>
    <button
      class="btn btn-secondary active:bg-primary active:text-white btn-secondary-dark"
    >
      Angular
    </button>
  </div>
</section>
