.btn {
  @apply py-3 px-8 rounded-lg;
}

.btn-primary {
  @apply text-white bg-primary hover:bg-blue-600
         dark:text-[#1c2127] font-medium dark:hover:bg-primary-dark;
}

.btn-secondary {
  @apply bg-white border border-primary text-primary hover:bg-blue-50
          dark:border-primary-dark dark:text-primary-dark font-medium dark:bg-body-dark;
}

.btn-filter {
  @apply btn btn-secondary active:bg-primary active:text-white cursor-pointer
        dark:active:bg-primary-dark dark:active:text-[#1c2127] dark:bg-body-dark;
  &.active {
    @apply bg-primary text-white;
  }
}
