<section class="py-5 pl-5 rounded-2xl bg-white">
  <p class="text-gray-light-2">Blog</p>

  <div class="md:grid md:grid-cols-2 md:gap-x-12">
    <div class="flex gap-10 overflow-hidden">
      <h1 class="text-gray-1 text-2xl mt-4 font-medium">
        How to organize your CSS
      </h1>
      <img
        src="assets/images/pexels-blog-1.jpg"
        class="rounded-l-xl md:hidden"
        alt="blog"
      />
    </div>

    <p class="mt-12 text-base font-medium text-gray-3">
      In this article I tell the story about Proin eu justo sit amet lacus
      bibendum tincidunt. Vivamus non volutpat nisl, a luctus mi.
      <br />
      <br />
      Donec aliquam est dui, vel vestibulum diam sollicitudin id. Quisque
      feugiat malesuada molestie.
    </p>

    <a href="#" class="mt-7 block text-primary">dev.to</a>

    <img
      src="assets/images/pexels-blog-1.jpg"
      class="rounded-l-xl hidden md:block md:col-[2_/_3] md:row-[3_/_-1]"
      alt="blog"
    />
  </div>
</section>
