<section class="card">
  <div class="xl:flex gap-5">
    <div class="xl:w-1/2">
      <p class="text-gray-light-1">Recommended publication</p>

      <div class="flex gap-10 justify-between lg:flex-none overflow-hidden">
        <h1 class="text-gray-1 text-2xl mt-4 font-medium w-44">
          JavaScript var, let and const
        </h1>
      </div>

      <p class="mt-10 lg:mt-6 text-base font-medium text-gray-3">
        What do the key words <code>var</code>, <code>let</code> and
        <code>const</code> do?
        <br />
        <br />
        Both <code>let</code> and <code>var</code> can have their values changed
        after declaration and can be initialized without a value. Variables
        declared with <code>const</code> cannot change, and a value must be
        assigned when the variable is declared.
      </p>
    </div>

    <pre class="flex items-center">
      <code class="rounded-lg w-full mt-5" [highlight]="code">
      </code>
    </pre>
  </div>
  <a
    href="https://dev.to/fig781/javascript-var-let-and-const-2g57"
    target="_blank"
    class="mt-10 block text-primary dark:text-primary-dark underline"
    >dev.to</a
  >
</section>
