<section class="card">
  <div class="lg:w-1/2">
    <p class="text-gray-light-2">Blog</p>

    <div class="flex gap-10 justify-between lg:flex-none overflow-hidden">
      <h1 class="text-gray-1 text-2xl mt-4 font-medium w-44">
        How to organize your CSS
      </h1>
      <img
        src="assets/images/pexels-blog-1.jpg"
        class="rounded-l-xl sm:block lg:hidden"
        alt="blog"
      />
    </div>

    <p class="mt-10 lg:mt-6 text-base font-medium text-gray-3">
      In this article I tell the story about Proin eu justo sit amet lacus
      bibendum tincidunt. Vivamus non volutpat nisl, a luctus mi.
      <br />
      <br />
      Donec aliquam est dui, vel vestibulum diam sollicitudin id. Quisque
      feugiat malesuada molestie.
    </p>

    <a href="#" class="mt-10 block text-primary">dev.to</a>
  </div>

  <img
    src="assets/images/pexels-blog-1.jpg"
    class="rounded-l-xl lg:w-1/2 hidden lg:block"
    alt="blog"
  />
</section>
